# Ignore environment variables
.env.local
.env.*
!.env.example

# Node modules
node_modules/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db
